html,
body {
	font-size: 0.32rem;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body,
html,
div,
blockquote,
img,
label,
p,
h1,h2,h3,h4,h5,h6,
pre,
ul,ol,li,
dl,dt,dd,
form,
a,
fieldset,
input,
th,
td{
    margin:0;
    padding:0;
    border:0;
    outline:none;
    word-break: break-all;
    font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif}
select,textarea{
    outline:none;
    font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif}
table {
    border-collapse:collapse;
    border-spacing:0}
fieldset,img {
    border:0}
address,caption,cite,code,dfn,em,b,i,strong,th,var{
    font-style:normal;
    font-weight:normal}
ol,ul {
    list-style:none;}
a{
    color:#333;
    text-decoration:none}
caption,th{
    text-align:left;}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal}
abbr,acronym{
    border:0}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.clearfix:before,
.clearfix:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
.hide{
    display: none;
}
body{
    width: 100%;
    max-width: 10rem;
    margin: 0 auto;
    position: relative;
    background: #f7f7f7;
}

/*¹«ÓÃµ×²¿*/
.foot{
    background:#ffffff}
.foot_btn a{
    float:left;
    width:25%;
    padding: 0.4rem 0;
    text-align:center}
.foot_btn a em{
    display:inline-block;
    width:0.64rem;
    height:0.64rem;
    margin:0 auto;
    background:url(../images/st_bottom_ico.png) no-repeat;
    background-size:126px 24px}
.foot_btn a.foot_ico01 em{
    background-position:0 0}
.foot_btn a.foot_ico02 em{
    background-position:-34px 0}
.foot_btn a.foot_ico03 em{
    background-position:-68px 0}
.foot_btn a.foot_ico04 em{
    background-position:-102px 0}
.foot_btn a span{
    color:#666;
    display:block;
    text-align:center;
    font-size:0.373333rem}
.foot_menu{
    clear:both;
    color:#eee;
    padding:0.2rem 0;
    text-align:center;
    font-size: 0.32rem;
    border-top:1px solid #eee}
.foot_menu a{
    color:#666;
    display: inline-block;
    padding:0 0.2rem;
    font-size:0.373333rem}
.foot .txt{
    color:#666;
    padding-bottom:0.2rem;
    text-align:center;
    font-size:0.373333rem}


.bom_link_box{
    width:100%;
    height:1.2rem}
.bom_fixed{
    position:fixed;
    bottom:0;
    left:0;
    z-index: 999;
    width:100%;
    height:1.2rem;
    line-height:1.2rem;
    display:-webkit-box;
    background:#f7f7f7}
.bom_fixed a{
    color:#333;
    display:block;
    width:50%;
    -webkit-box-flex:1;
    text-align:center;
    font-size:0.426667rem}
.bom_fixed a.price span{
    color:#ff6b1a}
.bom_fixed a.price b{
    font-weight:500;
    font-size:0.426667rem;
    font-family:Arial}
.bom_fixed a.on{
    color:#fff;
    background:#ff931b}
.bom_fixed a.dp{
    color:#fff;
    background:#22a4e0}
.bom_fixed a.confirm_pay_btn{
    width:100%;
    color:#fff;
    background:#ff931b}
.bom_fixed a.grey{
    color: #fff;
    background: #ccc;
}
.bom_fixed a.green{
    color: #fff;
    background: #31bc7c;
}

.call-phone {
    position: fixed;
    left: 0.2rem;
    bottom: 0.4rem;
    display: block;
    width: 1.066667rem;
    height: 1.066667rem;
    background: url(../images/phone-float.png) center no-repeat rgba(0, 192, 255, 0.81);
    background-size: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
    z-index: 99999;
}
